# -----------------------------------------------------
# Git & versionning
# -----------------------------------------------------
.git
.gitignore

# -----------------------------------------------------
# Python cache
# -----------------------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------------------------------
# Environnement virtuel
# -----------------------------------------------------
env/
.venv/
venv/

# -----------------------------------------------------
# Données lourdes
# -----------------------------------------------------
data/
*.csv
*.geojson
*.gpkg
*.shp
*.tif
*.zip
*.gpx

# -----------------------------------------------------
# Jupyter / notebooks
# -----------------------------------------------------
notebooks/
.ipynb_checkpoints/

# -----------------------------------------------------
# Logs
# -----------------------------------------------------
*.log

# -----------------------------------------------------
# OS / macOS / Windows
# -----------------------------------------------------
.DS_Store
Thumbs.db

# -----------------------------------------------------
# Docker / Compose
# -----------------------------------------------------
docker-compose.yml
.dockerignore

# -----------------------------------------------------
# Streamlit cache / configs
# -----------------------------------------------------
.streamlit/cache/
