# Fichiers Python compilés
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
env_py310/
venv/
.env/   # Si ton .env est dans un dossier
.env    # fichier .env contenant les secrets

# IDE / éditeurs
.vscode/
.idea/

# Fichiers système
.DS_Store
Thumbs.db

# Logs et fichiers temporaires
*.log
*.tmp
*.bak

# Streamlit
.streamlit/
